In [24]:
import pandas as pd
import numpy as np
import nltk
dat = pd.read_csv('amazon_co-ecommerce_sample.csv')
#dat.head(5)

In [25]:
# Keep only attributes that are important for the analysis
toys = dat[["product_name", "price", "average_review_rating", "customers_who_bought_this_item_also_bought", "customer_reviews"]]
# Change the display size
pd.set_option('display.max_columns',20)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', 1000)
toys = toys.dropna(subset = ['average_review_rating', "customers_who_bought_this_item_also_bought", "customer_reviews"])
toys = pd.DataFrame(data=toys)
#print(toys)

In [26]:
def separator(text):
    split_str = text.split('|') 
    return split_str

In [27]:
# Remove '\n'
toys['customer_reviews'] = toys['customer_reviews'].apply(lambda x: x.replace('\n', ''))
toys['customer_reviews'] = toys['customer_reviews'].apply(separator)
toys.head()

                                        product_name   price average_review_rating         customers_who_bought_this_item_also_bought                                   customer_reviews
0                              Hornby 2014 Catalogue   £3.42    4.9 out of 5 stars  http://www.amazon.co.uk/Hornby-R8150-Catalogue...  [Worth Buying For The Pictures Alone (As Ever)...
1  FunkyBuys® Large Christmas Holiday Express Fes...  £16.99    4.5 out of 5 stars  http://www.amazon.co.uk/Christmas-Holiday-Expr...  [Four Stars // 4.0 // 18 Dec. 2015 // By      ...
2  CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...   £9.99    3.9 out of 5 stars  http://www.amazon.co.uk/Classic-Train-Lights-B...  [**Highly Recommended!** // 5.0 // 26 May 2015...
4  Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...  £32.19    4.7 out of 5 stars  http://www.amazon.co.uk/Hornby-R6367-RailRoad-...  [Birthday present // 5.0 // 14 April 2014 // B...
5  20pcs Model Garden Light Double Heads Lamppost...   £6.99    5.0 out of 5 stars  http://www.amazon.co.uk/Single-Head-Garden-Lig...  [Five Stars // 5.0 // 27 Dec. 2014 // By      ...

In [31]:
review_data = pd.DataFrame()
review_data.head()

Empty DataFrame
Columns: []
Index: []

In [41]:
def indi_records(product, reviews):
    for i in range(len(reviews)):
        #review_data['product_name'] = product
        #review_data['reviews'] = reviews[i]
        val = reviews[i]
        
    return product, val

In [42]:
afunc = np.vectorize(indi_records)
product, review = afunc(toys['product_name'], toys['customer_reviews'])

In [38]:
review_data.head()

Empty DataFrame
Columns: [product_name, reviews]
Index: []